@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');




.div-title2{
    color:rgb(116, 91, 57);
    background-color: beige;
    text-align: center;
    border-radius: 15px;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
    line-height: 100px;
    font-family:Anton ;
    display:flex;
}

body{
    background-color:rgb(217, 174, 118);
}